@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sonsie+One&display=swap');
body{
    background: url(./background.jpg);
    backdrop-filter: blur(2px);
    color: #DDE;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    height: calc(100vh - 5px);
    font-family: monospace;
    user-select: none;
}
#name{
    background: rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 3px;
    border: solid white 1px;
}
#name div{
    font-family: 'Sonsie One', cursive;
    padding: 30px;
    border-radius: 3px;
    width: 60vw;
    text-align: center;
    font-size: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#index{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#indexButtons{
    background: rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(3px);
    width: auto;
    display: flex;
    padding: 35px 20px 50px 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    gap: 10px;
    border: solid white 1px;
}
.indexBtn{
    background-color: #151515F7;
    width: 350px;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
}
.indexBtn:hover{
    background-color: #222;
}
.indexBtn:active{
    color: #BBB;
    background-color: #020202;
}
.indexBtn:any-link{
    color: #EEE;
    text-decoration: none;
}